.lunbo{
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
}
.left{
    height: 60px;
    width: 70px;
    left: 50px;
    /*background: red;*/
}
.right{
    height: 60px;
    width: 70px;
    right: 50px;
    /*background: red;*/
}
.ll{
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    top: 30px;
    left: 28px;
}
.rr{
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    top: 30px;
    right: 28px;
}
#root1 .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    margin: 0 8px;
    bottom: 20px;
}
.action1{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}

